node-red-flow.json
[{"id":"75def316.10a5fc","type":"mqtt out","z":"54d4b2ec.84ce2c","name":"","topic":"node/bcf-rs485-relay:0/rs485-relay/q1/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":460,"y":160,"wires":[]},{"id":"36bdede0.958062","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["75def316.10a5fc"]]},{"id":"4099c208.b5611c","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["75def316.10a5fc"]]},{"id":"57863843.ecd2f8","type":"mqtt out","z":"54d4b2ec.84ce2c","name":"","topic":"node/bcf-rs485-relay:0/rs485-relay/q2/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":460,"y":240,"wires":[]},{"id":"5d089094.d1ba","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["57863843.ecd2f8"]]},{"id":"c6571399.ed252","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["57863843.ecd2f8"]]},{"id":"3cf09750.21c318","type":"mqtt out","z":"54d4b2ec.84ce2c","name":"","topic":"node/bcf-rs485-relay:0/rs485-relay/q3/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":460,"y":320,"wires":[]},{"id":"efdf2e2b.01d01","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["3cf09750.21c318"]]},{"id":"35b05ff.e2562a","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["3cf09750.21c318"]]},{"id":"f35dc8b0.381a68","type":"mqtt out","z":"54d4b2ec.84ce2c","name":"","topic":"node/bcf-rs485-relay:0/rs485-relay/q4/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":460,"y":400,"wires":[]},{"id":"aac4f4b5.d9be88","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["f35dc8b0.381a68"]]},{"id":"fd1e8b49.1218c8","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["f35dc8b0.381a68"]]},{"id":"e523cc97.170c9","type":"mqtt out","z":"54d4b2ec.84ce2c","name":"","topic":"node/bcf-rs485-relay:0/rs485-relay/q5/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":460,"y":480,"wires":[]},{"id":"8c1eb36c.d0af3","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["e523cc97.170c9"]]},{"id":"7c29b22a.adc91c","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":500,"wires":[["e523cc97.170c9"]]},{"id":"e4dac029.f6981","type":"mqtt out","z":"54d4b2ec.84ce2c","name":"","topic":"node/bcf-rs485-relay:0/rs485-relay/q6/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":460,"y":560,"wires":[]},{"id":"d3b8f696.c3d8a8","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":540,"wires":[["e4dac029.f6981"]]},{"id":"4ab30cfc.579074","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":580,"wires":[["e4dac029.f6981"]]},{"id":"e9b040e1.8e3bf","type":"mqtt out","z":"54d4b2ec.84ce2c","name":"","topic":"node/bcf-rs485-relay:0/rs485-relay/q7/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":460,"y":640,"wires":[]},{"id":"b673ea2b.2b7b28","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":620,"wires":[["e9b040e1.8e3bf"]]},{"id":"4ff77821.1a02c8","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":660,"wires":[["e9b040e1.8e3bf"]]},{"id":"206c7db4.b0ba52","type":"mqtt out","z":"54d4b2ec.84ce2c","name":"","topic":"node/bcf-rs485-relay:0/rs485-relay/q8/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":460,"y":720,"wires":[]},{"id":"7f5f4622.098998","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":700,"wires":[["206c7db4.b0ba52"]]},{"id":"381bdecf.1979d2","type":"inject","z":"54d4b2ec.84ce2c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":740,"wires":[["206c7db4.b0ba52"]]},{"id":"29fba84a.b2af58","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]
